version: '3.9'
services:
  app:
    build: .
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
    ports:
      - '3000:3000'
    command: npm run start
    restart: always